*{
    margin: 0;
    padding: 0;
    
}


h1{
    background-color: black;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}


.choice{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.choice:hover{
    /* opacity: 50%; */
    background-color: black;
}

.score-board{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 4rem;
}

#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    align-items: center;
    padding: 1rem;
    border-radius:1.5rem ;
}

.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}